.serviceList{
    display: flex;
    gap: 4rem;
    padding-left: 4rem;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-block: 2rem;
}